[Unit]
Description=Myjob service

[Service]
ExecStart=/usr/local/bin/myjob.sh
Restart=always
CPUQuota=20%
MemoryMax=100M
StandardOutput=append:/var/log/myjob.log
User=logger

[Install]
WantedBy=default.target
